body {
  background-size: cover;
  background-image: url(https://c2.staticflickr.com/4/3145/2337545543_419c7a18f9.jpg);
}

@font-face {
  font-family: "thrasher";
  src: url(./thrasher.TTF);
}
.leftcolumn{
  color: white;
  text-shadow: black .1em .1em 0.2em;

}
#alarmclock{
font-family: Tahoma;
font-weight: bold;
font-size: 12px;
color: white;
  text-shadow: black .1em .1em 0.2em;
}

#alarmclock div{
margin-bottom: 0.8em;
}

#alarmclock div.leftcolumn{
float: left;
width: 150px;
font-size: 13px;
background-color: gray;
clear: left;
}

#alarmclock span{
margin-right: 5px;
}

#zipcode {
  display: block;
}

select {
    color: #510505;
    background-image: url(http://uxrepo.com/static/icon-sets/flat-arrows/svg/flat-circle-round-down-arrow.svg);
    background-color: #7D8F9F;
}


.alarmBox {
  display: flex;
  justify-content: center;
  margin: 10% auto;
  font-family: 'thrasher';
}

#header {
  font-size: 300%;
  text-align: center;
  color: white;
  font-family: 'thrasher';
  text-shadow: black .25em .25em 0.2em;
}

#alert {
  display: none;
  background-color: #4c1f36;
  border: 2px dashed #3d0303;
  width: 230px;
  text-align: center;
}