#alarmclock{
font-family: Tahoma;
font-weight: bold;
font-size: 12px;
}

#alarmclock div{
margin-bottom: 0.8em;
}

#alarmclock div.leftcolumn{
float: left;
width: 150px;
font-size: 13px;
background-color: lightyellow;
clear: left;
}

#alarmclock span{
margin-right: 5px;
}

#zipcode {
  display: block;
}